html,body{
    font-family: Verdana;
    font-weight: bolder;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pozadina.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
@media (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1, h2, h3, p {
        padding-left: 10px;
        padding-right: 10px;
    }
}
h1{
    margin-top: 15px;
    color: white;
}
hr{
    margin-top: -17px;
    border: none;
    border-top: 2px solid white;
}
p{
    margin-left: 30px;
    margin-right: 30px;
}
.biography{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    background: lightblue;
}
.sliki{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.sliki img{
    border-radius: 10%;
    margin-right: 8px;
    border: 2px solid white;
}
ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}
ul li{
    margin: 0 20px;
}
a{
    display: inline-block;
    padding: 10px 10px;
    background: #638fb7;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    text-shadow: black 2px 2px 2px;
    width: 100%;
    max-width: 200px;
    transition: transform 0.2s ease, background 0.2s ease;
}

a:hover{
    transform: scale(1.1);
    background: #3b5477;
}
